[2021-05-05 05:27] KlavsKlavsen opened #2 "Plan for migrating helm chart?"
Whats your plans for migrating the helm chart from opendistro-es ?
Or are there things about it you're unhappy with, so you'd rather "have something else" ?

Can I help - f.ex. by taking a stab at migrating helm chart and https://github.com/opendistro-for-elasticsearch/opendistro-build/pull/693 ? or is opensearch a bit from "being ready for first runnable release" ?

[2021-06-08 17:54] dblock opened #3 "Create a docker container(s) repo that deploys an awesome OpenSearch cluster"
**Is your feature request related to a problem? Please describe.**

There's no easy way to boot up various interesting docker clusters with OpenSearch.

**Describe the solution you'd like**

When I needed a working ELK cluster with logstash, ES and Kibana I found https://github.com/deviantony/docker-elk, checked that out and ran `docker-compose up`, and everything worked. We [document how to do do

[2021-06-17 08:58] Hokwang opened #5 "provide helm chart"
Hello,

Like opendistro's helm chart,
will you have a plan for providing helm chart for opensearch?

Is this in your roadmap?

Thanks,

[2021-06-18 13:24] TheAlgo commented on #2
@bbarani I took a stab and was able to spin up OpenSearch cluster using the helm chart. The only issue I am facing is that the cluster is not going green. I will raise a PR of the chart I have created. We can take it forward from there.

[2021-06-21 16:04] peterzhuamazon commented on #5
Also, transfer the issue to the corresponding repo. Thanks.

[2021-06-22 01:33] Hokwang commented on #5
@peterzhuamazon thanks!!! I will look around that PR.

[2021-06-24 15:02] dblock opened #6 "Level up README and related markdown content"
Level up and cleanup markdown content.

See [.github#8](https://github.com/opensearch-project/.github/issues/8) for details and recommendations, and [common-utils](https://github.com/opensearch-project/common-utils/) for an example.

- [x] README.md
- [x] CONTRIBUTING.md
- [x] DEVELOPER_GUIDE.md
- [x] MAINTAINERS.md
- [x] ADMINS.md
- [x] SECURITY.md
- [x] RELEASING.md
- [x] TESTING.md
- [x] other

[2021-06-24 16:36] nknize opened #7 "[BLOCKER] Lower CI Java Version to Java 11"
Java 11 is an LTS release, Java 14 is not. Elastic really shouldn't have made the minimum java version 14 prematurely. Lucene doesn't even require minimum 14. The [community opened a PR](https://github.com/opensearch-project/OpenSearch/pull/636) to lower the minimum required java version back to 11 but it is stalled until CI can be lowered to match (otherwise CI will fail). The PR has stalled now

[2021-06-25 14:34] dblock commented on #7
This issue belongs in https://github.com/opensearch-project/opensearch-build, and should be assigned to @bbarani. Can someone please move it?

[2021-07-22 20:14] bbarani commented on #5
@Hokwang We have merged the initial version of Helm chart [PR](https://github.com/opensearch-project/opensearch-devops/pull/4). Please try using it and provide your feedback.

[2021-07-22 20:14] #5 closed

[2021-07-22 20:16] bbarani commented on #2
@KlavsKlavsen We have merged the initial version of Helm chart via this [PR](https://github.com/opensearch-project/opensearch-devops/pull/4). Please provide your feedback after trying it out. I am closing this issue now, feel free to re-open it if you have any further questions.

[2021-07-22 20:16] #2 closed

[2021-07-22 20:50] dblock opened #11 "Extract helm chart(s) into its own repo"
Coming from https://github.com/opensearch-project/opensearch-devops/pull/4#issuecomment-885189466, should be its own project.

[2021-07-22 20:51] dblock commented on #11
@TheAlgo since you PR-ed #4 if you have any interest in making/extracting this into a new repo I can help move it into the org

[2021-07-22 20:57] davidkarlsen commented on #11
It can still reside here. What would be great is to publish the charts and index to a *helm repo* for instance using github pages and this gh action :https://github.com/helm/chart-release-action
Which makes consumption a lot easier

[2021-07-22 20:59] dblock commented on #11
What are the advantages to bundling all this in one repo? Feels like it's easy to make a mess. Each helm chart would have its own setup to be published every time code changes via CI that anyone can setup/contribute to as well.

[2021-07-22 21:01] peterzhuamazon commented on #11
Instead of doing a new repo can we do something like this:
https://github.com/opendistro-for-elasticsearch/opendistro-build/pull/693

[2021-07-22 21:02] dblock commented on #11
Probably. My only worry is that this repo becomes a kitchen sink of all thinks devops that are unrelated to each-other. Will leave it to the people contributing to consider the pros and cons.

[2021-07-22 21:03] dblock commented on #11
👍

[2021-07-22 21:09] dblock opened #12 "Publish helm charts"
Coming from #10 and #4

[2021-07-23 04:49] TheAlgo commented on #11
@dblock @peterzhuamazon  @davidkarlsen  I will agree with Peter and David , if we can have an index that will make consumption easier.

[2021-07-23 17:38] peterzhuamazon opened #13 "[Help Needed] OpenSearch/Dashboards in Kubernetes Operator"
[Help Needed] OpenSearch/Dashboards in Kubernetes Operator.
We invite communities to help us adding more distros of OpenSearch/Dashboards.
We recently have Helm OpenSearch available with the help of community, and we would love more community contributions.

[2021-07-23 17:38] peterzhuamazon opened #14 "[Help Needed] OpenSearch/Dashboards in Ansible"
[Help Needed] OpenSearch/Dashboards in Ansible.
We invite communities to help us adding more distros of OpenSearch/Dashboards.
We recently have Helm OpenSearch available with the help of community, and we would love more community contributions.

[2021-07-24 13:14] TheAlgo commented on #12
I can take this up once OpenSearch Dashboards Chart is merged 😄

[2021-07-26 07:21] DandyDeveloper commented on #14
@peterzhuamazon Can you better explain what this issue entails?

Do we want a playbook or a module that automatically deploys OpenSearch via Ansible?

I think if contribution is expected, we should be able to clearly define expectations to someone wanting to contribute.

[2021-07-26 07:22] DandyDeveloper commented on #13
@peterzhuamazon Same point as #14

What operator? My interpretation is this means someone develops an operator that interacts with the Kubernetes API to deploy an instance of Opensearch.

Is this what we mean here?

[2021-07-26 07:24] DandyDeveloper opened #15 "OpenSearch Slack Community?"
I know we have the OpenSearch community on Discuss but having some mechanism to interact with engineers actively supporting OpenSearch would be super helpful to me as a contributor.

CNCF and others have Slack workspaces and numerous channels where people can interact.

Although some of this information can get lost, Discuss isn't good enough and also is very hard to get responses on from time to

[2021-07-26 07:25] DandyDeveloper commented on #12
@TheAlgo If you need help let me know. I have a good example of GitHub Actions that do this.

https://github.com/DandyDeveloper/charts/blob/master/.github/workflows/publish.yml

There's a lot of different options for doing this nowadays through GitHub actions. Let me know if I can help.

[2021-07-26 07:28] DandyDeveloper commented on #3
Another option here might be to look at Minikube and Skaffold to create different examples of OpenSearch.

(Minikube is my preference but KinD and plenty of others exist as well).

[2021-07-26 09:36] TheAlgo commented on #12
@DandyDeveloper  yes that will be great we can pick it up together after the dashboards chart is merged.  We can decide whether we want to use actions or something else.

[2021-07-26 11:43] TheAlgo commented on #15
@stockholmux opinion?

[2021-07-26 13:16] dblock commented on #3
I'd love to see a working version of this @DandyDeveloper :) Wink wink.

[2021-07-26 14:09] smlx commented on #12
The chart version should probably be something less than `1.0.0` for the first release. Maybe `0.1.0`?

[2021-07-26 15:46] smlx opened #19 "Should the helm chart have a PSP?"
PodSecurityPolicies are [deprecated](https://kubernetes.io/blog/2021/04/06/podsecuritypolicy-deprecation-past-present-and-future/) and will be removed from Kubernetes in the next year or so. Does it make sense for a new chart to support a deprecated API?

[2021-07-27 00:27] DandyDeveloper commented on #19
@smlx Yes. They should, because many people will not be on the latest k8s version and could still be running 1.18 or even 1.16.

Since we offer to enable/disable. I think the current implementation is fine, BUT we could have something like;

[code]

As an additional check to verify the Kubernetes version and to dictate whether the PSP should be written (enabled or not).

[2021-07-27 06:35] TheAlgo opened #20 "Examples of Deployment that can be done using Helm Chart"
We can add examples of different values for different kinds of deployment for OpenSearch stack. It will be great for end users to directly edit those example deployment values for their use-case/purpose.

[2021-07-27 06:44] avthart opened #21 "Helm upgrade path from Opendistro-for-Elasticsearch 1.13"
We have a couple of questions regarding the new Opensearch project and 1.0.0 release.

We are currently using Opendistro-for-Elasticearch 1.13.x.

- What are the plans with the Helm chart for opendistro-for-es? Will this Helm chart be (re)used for Opensearch?
- When can we expect a release for Opensearch 1.0.0?

Also see https://github.com/opendistro-for-elasticsearch/opendistro-build/issues/780

[2021-07-27 07:31] TheAlgo commented on #13
I guess @peterzhuamazon means Kubernetes Operator Support here. If that is the case we should change the issue title in my opinion.

[2021-07-27 07:33] DandyDeveloper commented on #13
@TheAlgo What's the Kubernetes Operator? I don't know what that is. An operator is a written piece of software that interacts with the Kubernetes API to perform CRUD operations on resources (Maybe based on a CRD).

Can you link the Kubernetes Operator?

[2021-07-27 10:21] TheAlgo commented on #13
@DandyDeveloper Nvm, I guess I misinterpreted your previous comment 😅 , operator is same as Kubernetes Operator , it is just how some people call it. Nothing differently. [Example](https://www.redhat.com/en/topics/containers/what-is-a-kubernetes-operator)
You can get more details about the discussion about the operator for OpenSearch [here](https://www.redhat.com/en/topics/containers/what-is-a-kub

[2021-07-27 11:07] DandyDeveloper commented on #13
@TheAlgo Your link on the second part is wrong

[2021-07-27 13:40] TheAlgo commented on #13
Updated the link 😄

[2021-07-27 13:50] DandyDeveloper commented on #13
@TheAlgo Yeah, I agree with everything discussed in that thread. Operators are a fair bit of work though.

That being said, defining a CRD then having an operator act on it.

That could in itself, be backed by a Helm chart, similar to how `istioctl` deploys Istio via the Istio Operator.

So effectively, you have an image with helm backed into as well as the charts we're deploying (As well as the o

[2021-07-27 20:35] peterzhuamazon commented on #14
Hi @DandyDeveloper I think we are looking to have a playbook to deploy OpenSearch/Dashboards.
There are expectations from community to playbook since ODFE and there is a community maintained one: https://github.com/saravanan30erd/opendistro_standalone_installation

Would love to see this also present in OpenSearch/Dashboards.

@saravanan30erd since you have worked on ODFE version and still maintai

[2021-07-27 20:39] peterzhuamazon commented on #21
Hi @avthart we already have a helm OpenSearch chart in the repo https://github.com/opensearch-project/opensearch-devops/tree/main/Helm

The Dashboards one is pending on review: #10

As for the upgrading path I am not sure whether the one we write for TAR works as well: https://opensearch.org/docs/upgrade-to/index/ since Helm uses docker.

I think @DandyDeveloper @dblock @TheAlgo can help on more o

[2021-07-27 20:43] peterzhuamazon commented on #13
Yes @DandyDeveloper it is about Kubenetes Operators as @TheAlgo pointed out.

[2021-07-27 21:34] stockholmux commented on #15
Good call out but no plans currently for a Slack community.

We've looked at a few separate times and there is even an [unofficial odfe/opensearch slack](odfe-workspace.slack.com), but we'd rather have one communications channel at the moment and that's [the forums](https://discuss.opendistrocommunity.dev/). It's more searchable, asynchronous (better for different time zones) and easier to manage

[2021-07-28 07:41] rursprung commented on #13
as pointed out in the forum the best solution would probably be if zalando would move [zalando-incubator/es-operator](https://github.com/zalando-incubator/es-operator) to the Apache 2.0, then we could base on that. this is already a full-fledged, working operator. it's just not compatible with OpenSearch. @jkowall had contacted them zalando-incubator/es-operator#169 but it seems that they haven't

[2021-07-28 07:50] saravanan30erd commented on #14
@peterzhuamazon Sure, I can create ansible playbooks for OpenSearch & Dashboards installation. This [one](https://github.com/saravanan30erd/opendistro_standalone_installation) is created for Centos & RHEL, so I can create playbooks for Centos & RHEL initially and we can eventually support all other distributions(Ubuntu, etc,..).

Is it possible to create separate repo (opensearch-ansible or someth

[2021-07-28 08:26] DandyDeveloper commented on #13
@rursprung It's not enough, it's nowhere near enough, but it's a basis for having versioned releases and then within the operator you can manage state and resource status.

Everything you've mentioned is great but also I'd argue that's the "final" look of the operator. You don't need all of that to start using the operator. Having a v1 beta that does "most" of the deployment and lifecycle of resou

[2021-07-29 02:22] DandyDeveloper commented on #21
@avthart Chart wise, they are incompatible but can be structured in the same way as before effectively creating the same resources with the same supporting configs/secrets.

That being said, I haven't thoroughly tested my own current production Opendistro ES to check where pain points are.

My understanding is for upgrading the version of ES, if you do a standard rollout via k8s for example, the O

[2021-07-29 02:23] DandyDeveloper commented on #20
@TheAlgo Are we still planning to create a "monolithic" stack chart that brings all the components together with general options:

- Master Nodes
- Hot Data Nodes
- Dashboards
- Warm Data Nodes

If so, I think this issue has to wait until some of the deps are ready

[2021-07-29 02:24] DandyDeveloper commented on #15
That sucks. I'll stick with the forums for now then.

[2021-07-29 02:24] #15 closed

[2021-07-29 14:10] TheAlgo commented on #21
@DandyDeveloper
While creating the initial version of the chart the following considerations were made:
1. Move away from monolithic chart. Decouple OpenSearch Dashboards from the OpenSearch chart.
2.  Give maximum customisability to the end users by making a generic chart. This way we can accommodate deployment strategies for all.

@avthart We can definitely have one chart which satisfies the upg

[2021-07-29 14:13] TheAlgo commented on #20
Initially this was the thought, once we have separate chart for OpenSearch and OpenSearch Dashboards, we can have one which deploys the OpenSearch stack(OpenSearch, OpenSearch Dashboards, Logstash(maybe)) which the most commonly used features. But I will leave it up to @peterzhuamazon and @dblock to take a call on it. I will be happy to contribute to the same as well.

[2021-07-29 16:41] peterzhuamazon commented on #14
Thanks @saravanan30erd for the responses, here are a few points to add on:
1. CentOS/RHEL is good as officially our releases on docker are based on AL2 which is in the same RH family.
2. The separate repo has been mentioned multiple times in the past weeks by community, and we are currently discussing about it. As of now, please just create a separate folder for it in opensearch-devops repo.

Plea

[2021-07-30 01:30] DandyDeveloper commented on #20
@TheAlgo I'd recommend avoiding third party options as I wouldn't be surprised if Fluent was more often used over Logstash. So I imagine giving people their choice for tailing etc. Should be left to them.

Sounds good though.

[2021-08-02 09:40] TheAlgo commented on #20
@peterzhuamazon @dblock instead of Logstash if we can have dataprepper. Opinions?

[2021-08-03 00:08] DandyDeveloper commented on #21
@TheAlgo You may find we already can support an upgrade path since we're using the same resource types. The only big problem is it'll almost definitely result in downtime because the statefulset manifest is significantly different.

I think it's hard to make a one size fits all for upgrade paths. In my case, I have a ton of special cases that never made it into the official Opendistro chart.

I th

[2021-08-03 00:12] DandyDeveloper commented on #20
@TheAlgo I'm still of the opinion you provide an all or nothing approach here.

Either we don't include any OR we include dependencies for all supported third party options as conditions that can be enabled and disabled.

* Fluentd
* Fluentbit
* DataPrepper
* Logstash
* Pretty sure Grafana agent works too

My opinion is adding support for them all. Similar to how Jaeger Tracing has option for mult

[2021-08-03 23:20] davidkarlsen commented on #12
Existing examples of using action-based tooling for CI and publishing:
* https://github.com/evryfs/helm-charts
* https://github.com/helm/charts-repo-actions-demo/

[2021-08-04 06:30] smlx opened #22 "Unusual max_local_storage_nodes value"
https://github.com/opensearch-project/opensearch-devops/blob/a2a2d8be7438a8dc5cbb300a8530f85a3784fd20/Helm/opensearch/values.yaml#L67-L68

Should these lines be present in the default `values.yaml` of the opensearch chart? According to the [elastic documentation](https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-node.html#max-local-storage-nodes) setting this to >1 is not saf

[2021-08-04 14:48] TheAlgo commented on #22
@smlx The value is just a demo configuration as mentioned in the `values.yaml` and does not portray anything.

[2021-08-04 16:35] peterzhuamazon commented on #19
@smlx is there any more questions you want to resolve related to PSP?
Shall we close this issue if not?
Thanks.

[2021-08-05 02:03] smlx commented on #22
Ok, I'll send a PR to remove it then because as a demo setting it doesn't make sense for a cluster running as a kubernetes statefulset.

[2021-08-05 02:09] smlx commented on #19
Yes my question is answered, thanks. Closing.

[2021-08-05 02:09] #19 closed

[2021-08-05 18:02] TheAlgo opened #25 "Documentation of Helm Charts for OpenSearch and OpenSearch Dashboards"
It will be great if we can have a well written README describing the different options Helm Charts have. Besides these we can have detailed installation instructions for it as well.

P:S: I would love to contribute on this part 😸

[2021-08-05 18:18] TheAlgo commented on #21
I agree on it we can support the  upgrade path. I would love to understand about those special cases (I am curious) 😸

[2021-08-05 18:44] peterzhuamazon commented on #11
Both #4 and #10 are now in the repo, approved and merged.
Thanks everyone for the help in the process.

[2021-08-05 18:44] #11 closed

[2021-08-05 19:12] peterzhuamazon commented on #20
@TheAlgo @DandyDeveloper
We have logstash working with opensearch now:
https://hub.docker.com/r/opensearchproject/logstash-oss-with-opensearch-output-plugin/tags
https://rubygems.org/gems/logstash-output-opensearch/

[2021-08-05 22:18] mprimeaux commented on #12
I have completed the GitHub workflow using the helm-chart-tester and helm-chart-releaser actions and am happy to contribute to this project is folks are supportive.

[2021-08-06 01:58] mprimeaux commented on #12
[code]

I'll re-fork and cleanup but just wanted solicit feedback.

[2021-08-06 03:31] TheAlgo commented on #12
I would be happy love to contribute and support. Thanks

[2021-08-06 04:31] mprimeaux commented on #12
Thanks for your feedback. I'll re-fork, clean the patch up, and submit a PR. All comments and criticisms are always welcome. it's a learning opportunity for me and all.

[2021-08-06 17:14] peterzhuamazon commented on #12
@mprimeaux Thanks for the work we are also in the process of moving helm to its own repo instead of keeping it in opensearch-devops repo.

Once it has its own repo could you apply the same changes you have in your fork to here?

Thanks.

[2021-08-06 18:02] mprimeaux commented on #12
@peterzhuamazon Definitely. Just let me know when you're ready for the new fork and PR

[2021-08-06 18:18] mprimeaux commented on #12
@peterzhuamazon What is the estimated time for when the new repository will be ready? Again, thanks for your help.

[2021-08-06 21:07] peterzhuamazon commented on #12
Hi @mprimeaux we need to add the related contributing documents and such as well as labels, etc..
We are planning to release the opensearch-helm standalone repo sometime either next week or the week after that.
Would definitely need community help to migrate it together.

Thanks.

[2021-08-07 03:45] mprimeaux commented on #12
@peterzhuamazon One thing to note is that I had to heavily modify the chart and related values files for lint to pass. I'll ensure all of those changes are encapsulated into the PR.

[2021-08-07 04:32] TheAlgo commented on #12
@mprimeaux what exactly do you mean by heavy modification of the chart. As far as I remember all the lint checks were passing last time I raised the PR. Curious to know what changes we need for publishing this 😀

[2021-08-07 05:06] mprimeaux commented on #12
@TheAlgo Regarding lint rules, there were broadly four categories of lint errors:

* Too many blank lines
* Trailing spaces
* Comments without a trailing space.
* Missing CR/LF at the end of the yaml

You can look at the differences between current charts and relate values files for the detail.

I’m happy to walk you through the differences as needed.

[2021-08-07 07:08] TheAlgo commented on #12
@mprimeaux I get that. It might be possible as I did not use workflow actions to lint but the `helm lint` command which is used to find lint errors which can cause installation issues.

In that case I agree it might be tedious to fix those. Thanks for taking us up. Much appreciated.

[2021-08-07 10:59] belfhi opened #26 "[BUG][Opensearch] Missing securityConfig Volumes in statefulset"
The `securityConfig` objects have `volumeMounts` in the container part of the statefulset but the volumes are missing.
I can prepare a pull request for this in the next few days

Edit: this concerns _Opensearch_, not the dashboard helm chart.

[2021-08-07 13:44] mprimeaux commented on #12
@TheAlgo Thanks for replying and for that detail. The subtle difference is that `helm lint` checks for [helm-related errors](https://github.com/helm/helm/blob/efe2638f87b597403f34009e1029a6f0b44db8f2/pkg/action/lint.go#L49) (i.e missing chart version, etc) whereas the helm-chart-testing action checks for yaml errors.

To your point, in my opinion, it would be a benefit to add yaml listing to helm.

[2021-08-09 12:54] belfhi opened #28 "[BUG][Dashboards] secretMount missing in values.yaml"
unlike the opensearch chart, the dashboard values.yaml does not have a `secretMounts` section
although it is used in the templates.

[2021-08-09 13:36] smlx opened #30 "config."opensearch.yml" value should be string type"
Currently the default `values.yaml` uses a dict type for `config."opensearch.yml"`. Any custom values defined under this key are _merged_ with the default values. This means you need to carefully inspect the default values in order to know how custom values will be merged with this field and what the final applied values will be.

Instead if this field was a string type it would simply be replaced

[2021-08-09 17:32] #22 closed

[2021-08-09 18:27] TheAlgo commented on #30
@smlx This was done purposely and kept as `dict` type to avoid mistakes while assigning values. @DandyDeveloper opinions?

[2021-08-09 19:05] smortex opened #67 "[Help Wanted] OpenSearch / OpenSearch Dashboards - Puppet modules"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Provide Puppet modules to manage the deployment of OpenSearch / OpenSearch Dashboard.

**Describe alternatives you've considered**
There are modules for ElasticSearch components managed by elastic which are available on the [Puppet Forge](https://forge.puppet.com/modules/elastic).

The modul

[2021-08-10 00:39] DandyDeveloper commented on #30
@smlx This is intentional because we want the config to be read as a YAML to make it easier for all kinds of different reasons.

For example, maybe you have a test cluster, so you could define an additional test values with some minor adjustments more indicative of your smaller cluster or some different self-signed certificates for transport comms. Rather than having multiple copes of the same con

[2021-08-10 13:13] belfhi opened #32 "[BUG][Opensearch] duplicate persistence config / storageClass option"
**Describe the bug**
The configuration of the statefulset's persistence is done in two
places, in `.Values.persistence` and in `.Values.volumeClaimTemplate` and should be
done in a single place instead, as is done in most other Helm Charts.
This also allows a more obvious place to enter a value for the `storageClass` to be used for the PVC.

**To Reproduce**
Steps to reproduce the behavior:
1. Go

[2021-08-10 13:16] DandyDeveloper commented on #32
@TheAlgo Didn't I mention this in the review for the original PR adding OpenSearch?

Did we not manage to get it in?

[2021-08-10 13:25] TheAlgo commented on #32
I remember you mentioning this in the initial PR. I did the changes as well. Looks like it got missed somewhere 😢

[2021-08-10 16:39] peterzhuamazon commented on #14
Hi @saravanan30erd It has been some days since we last talk.
Just want to check in to see if there is any progress on this?
Hope you are doing well. Thanks.

[2021-08-11 02:22] smlx commented on #30
Thanks for the explanations. So are you saying that those default values align with the configuration baked into the images already? In other words, should you be manually overriding each of those specific configuration options anyway for a production deployment, even if they weren't set in the chart's default `values.yaml`?

[2021-08-11 03:01] DandyDeveloper commented on #30
@smlx If I remember correctly, the demo opensearch.yml baked into the image is basically the exact same as what we include in the values.yaml.

So IMO we can remove this entirely / comment it out.

But yes, to me, all those available option should be replaced by your own input anyway, because those demo certs are available publicly. That CAN put your cluster at risk in transport/http. Those are mo

[2021-08-11 03:56] mprimeaux commented on #12
@peterzhuamazon Just checking in to see if you all are still on track for this week or next for the new repository. In the interest of transparency, we are keen to get this in place for nearly 7 multi-tenant 'as-a-Service' platforms globally we have at Cubic Transportation Systems in AWS.

Your help is greatly appreciated. We stand by ready to help.

[2021-08-12 16:29] #28 closed

[2021-08-16 16:52] #32 closed

[2021-08-16 21:16] hgoscenski-imanage opened #36 "[BUG][opensearch][opensearch-dashboards] Charts do not render using certain features"
**Describe the bug**
Utilizing certain flags leads to the chart not rendering to valid manifests.

Description of issues with minimal config needed to replicate in this PR https://github.com/opensearch-project/opensearch-devops/pull/35

**To Reproduce**
Steps to reproduce the behavior:

Pulled directly from PR, happy to clarify if necessary.

The opensea

**Expected behavior**
Chart renders to val

[2021-08-17 06:47] TheAlgo commented on #30
@smlx if you are okay with the answer can we close this?

[2021-08-17 08:10] smlx commented on #30
Hi, yes thanks please close this :+1:

[2021-08-17 08:11] #30 closed

[2021-08-17 13:38] hgoscenski-imanage opened #37 "[BUG][opensearch-dashboards] Config is loaded into wrong directory"
**Describe the bug**
When passing in a custom config file in the `.Values.config` section it is loaded into the wrong path `/usr/share/dashboards/config` instead of `/usr/share/opensearch-dashboards/config`

It may also be good to clarify that the default config file is `opensearch_dashboards.yml` instead of `dashboards.yml` as in the values.yaml file.

**To Reproduce**
Steps to reproduce the beha

[2021-08-17 17:06] hgoscenski-imanage opened #39 "[BUG][opensearch]"
**Describe the bug**
Path for security config is incorrect.

`/usr/share/elasticsearch/plugins/opendistro_security/securityconfig` vs `/usr/share/opensearch/plugins/opensearch-security/securityconfig`

**To Reproduce**
Steps to reproduce the behavior:
1. Use any custom config for opensearch security

**Expected behavior**
The correct path to be utilized so the config takes effect.

**Component**
H

[2021-08-17 17:40] hgoscenski-imanage opened #42 "[BUG][opensearch] Missing volumes for securityConfig secrets"
**Describe the bug**
Helm chart does not create volumes for the securityConfig secrets

**To Reproduce**
Steps to reproduce the behavior:
1. Utilize secrets for securityConfig

**Expected behavior**
Volumes provisioned such that the pod can start.

**Component**
Helm v3.6.x

**Screenshots**
NA

**Host/Environment (please complete the following information):**
 - Helm v3.6.x

**Additional context**

[2021-08-17 17:44] hgoscenski-imanage commented on #42
Covered in PR #31

[2021-08-17 18:10] hgoscenski-imanage opened #44 "[Enhancement][opensearch][opensearch-dashboards] Lifecycle Probes"
**Is your feature request related to a problem? Please describe.**
I think there ought to be liveness/readiness/startup probes for the opensearch statefulset and the opensearch-dashboards deployment.

Currently the pods are immediately marked ready on startup, leading to more than one of the nodes being unavailable which can lead to instability especially with lots of data.

**Describe the solutio

[2021-08-17 18:31] TheAlgo commented on #44
I completely agree to this and it is kind of compulsory. I also wanted to have something like [this](https://github.com/opensearch-project/opensearch-devops/blob/main/Helm/opensearch/values.yaml#L314) included as readiness as well.

[2021-08-17 18:33] hgoscenski-imanage commented on #44
That would be clever, do we want to include a sane default, or would we want to leave it disabled until the user chooses to enable it?

[2021-08-17 18:41] TheAlgo commented on #44
What is we can have options to choose between different probes. As in have a basic one and some advanced one as well. Just thinking to make the chart as robust as possible.

[2021-08-17 19:14] #6 closed

[2021-08-17 19:20] TheAlgo commented on #42
@hgoscenski-imanage  As it is a duplicate of #26 , can we close it?

[2021-08-17 19:21] hgoscenski-imanage commented on #42
@TheAlgo Absolutely.

[2021-08-17 19:21] #42 closed

[2021-08-17 22:47] alborotogarcia opened #46 "[BUG][Proxy Authentication] Failed to skip default demo configuration"
**Describe the bug**
Unable to auth through internal proxy, or change internal users. Demo configuration gets applied always.

**To Reproduce**
Steps to reproduce the behavior:
1. Template the helm chart to a yaml file
2. Set config.yml as a configmap subpath from the docs
2. Mounted it at /usr/share/opensearch/plugins/opensearch-security/securityconfig/config.yml or /usr/share/opensearch/config/c

[2021-08-18 22:11] peterzhuamazon opened #48 "[Enhancement][Helm] Parameterize the path instead of hardcoding"
**Is your feature request related to a problem? Please describe.**
We have hardcoded several paths in Helm Charts.
It would be better if we parameterize them.

Example: https://github.com/opensearch-project/opensearch-devops/blob/ab0d2494f062de0e9b12037ba77e2dc845d156de/Helm/opensearch/templates/statefulset.yaml#L305

**Describe the solution you'd like**
A clear and concise description of what you

[2021-08-18 22:11] #26 closed

[2021-08-18 22:13] peterzhuamazon commented on #46
Thanks @alborotogarcia for reporting this, do you currently find a way to fix it?
If yes, would you mind sending a PR about it?

@TheAlgo @DandyDeveloper @smlx would love your input on this. Thanks.

[2021-08-18 22:21] bbarani opened #49 "[Feedback needed] - Need help with repo name when moving helm chart to its own GitHub repo"
**Is your feature request related to a problem? Please describe.**
Currently opensearch-devops Github repo host helm charts under a folder since this repo was created as a generic repo to hold other OpenSearch devops related code as well. We would like to move the helm code to its own repository for ease of development and maintenance.

**Describe the solution you'd like**
We would like to create

[2021-08-18 22:30] peterzhuamazon commented on #12
Hi @mprimeaux sorry for the late response we are on track to release the repo, probably a bit longer than expected since we are currently voting for the name of it here #49.

There were some initial concerns on the naming so we would like the community to vote on it before proceed.

Thanks.

[2021-08-18 22:44] DandyDeveloper commented on #46
@alborotogarcia This is what I would expect: https://github.com/opensearch-project/opensearch-devops/blob/main/Helm/opensearch/values.yaml#L41-L66

These values are expected to be overwritten by the values to avoid the demo configuration being used.

@TheAlgo Maybe we should just remove the config entirely from the values? As it's a dupe of the file baked into the image anyway.

RE: security confi

[2021-08-18 23:31] davidkarlsen commented on #49
2

[2021-08-18 23:34] mprimeaux commented on #49
My vote would be `opensearch-project/charts` to be a bit more aligned with the surrounding community and ecosystem. Not to mention the name 'charts`, also is less redundant than `helm-charts`.

[2021-08-18 23:59] mprimeaux commented on #12
@peterzhuamazon Thanks for the update.

I've cast [my vote](https://github.com/opensearch-project/opensearch-devops/issues/49#issuecomment-901497542) 👍🏼 in [#49](https://github.com/opensearch-project/opensearch-devops/issues/49).

[2021-08-19 01:42] smlx commented on #46
oh yeah I fixed this bug locally. this path is incorrect: https://github.com/opensearch-project/opensearch-devops/blob/main/Helm/opensearch/values.yaml#L255

Will send a PR when I get a chance unless someone else beats me to it :)

[2021-08-19 01:45] smlx commented on #49
2

[2021-08-19 01:52] DandyDeveloper commented on #46
@smlx Ah yeah, it changes in opensearch. Good catch. Thank you.

[2021-08-19 04:12] TheAlgo commented on #49
My votes goes to `2`. reason being it is more intuitive.  Also I will be happy to volunteer for migrating the charts to the new repositiories.

[2021-08-19 04:15] mprimeaux commented on #12
@peterzhuamazon Our team also has made defect fixes related to security that we will issue as a PR. Perhaps best in the new repository.

[2021-08-19 04:16] TheAlgo commented on #46
Will send a PR when I get a chance unless someone else beats me to it :)

@smlx I guess someone has  already raised PR for the same #40 .

[2021-08-19 04:18] TheAlgo commented on #46
Yes to avoid confusion maybe I am working on a README.md. Don't want to remove the config altogether , though I agree that it is a dedup but it is helpful while installing the chart for novice users. This will help the chart cater the broader audience.

[2021-08-19 06:06] viceice commented on #49
2

[2021-08-19 18:26] paltryeffort opened #50 "[Enhancement][opensearch-dashboards] support current ingress apiVersion"
The ingress `apiVersion: networking.k8s.io/v1` is available in kubernetes since 1.19 and is the only valid version in kubernetes 1.22+.
1.22 was released in August 4th, 2021. Details: [api removals](https://kubernetes.io/blog/2021/07/14/upcoming-changes-in-kubernetes-1-22/#api-changes)

[2021-08-19 19:27] TheAlgo commented on #20
We can create charts to cater certain use cases for the end-users . This particular [chart](https://github.com/nickytd/kubernetes-logging-helm) can be helpful for certain group of users.

[2021-08-19 22:35] peterzhuamazon commented on #50
Thanks @paltryeffort.

@TheAlgo @DandyDeveloper @smlx is this something we need to worry about and take actions?

[2021-08-19 22:41] peterzhuamazon commented on #50
nvm it has a PR already just need to link it #47

[2021-08-19 23:13] #50 closed

[2021-08-19 23:22] peterzhuamazon commented on #12
Thanks @mprimeaux we plan to start the migration next week, since the vote will end on Friday.
We will make the repo public next week as well once the name is settled.

You will then be able to contribute.

Thanks.

[2021-08-19 23:26] peterzhuamazon commented on #20
@TheAlgo we can probably contact the maintainer of that chart for help?

[2021-08-19 23:30] peterzhuamazon commented on #46
Seems like @hgoscenski-imanage has a fix in #41.

[2021-08-20 01:48] DandyDeveloper commented on #20
@peterzhuamazon @TheAlgo Yes, per my previous comment, I think it's good if we do something like:

Chart.yaml
[code]

[code]

Then have a conditional check to make sure there's no dupes OR just allow the child chart to manage resource deployment and if the user decides to enable 2, so be it.

This is effectively how I deploy my stack in the OpenDistro implementation I'm running in production. (flu

[2021-08-20 05:53] TheAlgo commented on #20
@DandyDeveloper I will be happy to help and contribute in case we want a chart something like this in our dedicated helm chart repository.

[2021-08-20 05:54] TheAlgo commented on #20
@peterzhuamazon  This sounds good. I see this project is also listed in the community projects [page](https://opensearch.org/community_projects/)

[2021-08-22 14:23] TheAlgo commented on #25
@peterzhuamazon can you assign it to me? I am planning to raise the PR after we migrate to the new repo. Thanks

[2021-08-24 18:39] peterzhuamazon commented on #49
As of 2021/08/24 we have these votes from the community:

* 1️⃣ @mprimeaux @adamlehenbauer-cubic @holleyism
* 2️⃣ @davidkarlsen @MrDrMcCoy @kei711 @viceice @TheAlgo @smlx

We will publish the standalone repo as `opensearch-project/helm-charts`.

[2021-08-24 18:44] #36 closed

[2021-08-24 18:45] #37 closed

[2021-08-24 22:17] mprimeaux commented on #49
Thanks, @peterzhuamazon. We look forward to tomorrow, mate :)

[2021-08-25 02:12] DandyDeveloper commented on #49
I have no strong opinion on either `charts` was how everyone else did it. However, recently `helm-charts` has been favours.

I vote for 2.

[2021-08-25 19:11] peterzhuamazon opened #53 "[Complete][Help Needed][Helm] Migrate Helm-Charts to opensearch-project/helm-charts Standalone Repo"
**Is your feature request related to a problem? Please describe.**
We have published Helm-Charts standalone repo today with the help of community votes on naming #49.
https://github.com/opensearch-project/helm-charts

We now need to migrate helm charts from this repo to the standalone one.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe

[2021-08-26 01:49] cybernagle opened #54 "[BUG][opensearch chart install failed with error nil pointer evaluating interface {}.opensearchHome ]"
**Describe the bug**

The failure code is:
[code]
Error Msg:

helm.go:84: [debug] template: opensearch/templates/statefulset.yaml:371:33: executing "opensearch/templates/statefulset.yaml" at <.Values.opensearchHome>: nil pointer evaluating interface {}.opensearchHome

**To Reproduce**
Just try to install opensearch helm chart

**Expected behavior**
should be able install opensearch on elasticsearc

[2021-08-26 07:30] killerquitsche opened #55 "[BUG][opensearch] helm chart can not be deployed without ssl"
**Describe the bug**
The failure code is:
[code]
Error Msg:

**To Reproduce**
Just try to install latest opensearch helm chart with these different configurations:
**Code config 1:**
[code]

**Code config 2:**
[code]

**Code config 3:**
[code]

**Expected behavior**
Should be able to install opensearch on Kubernetes Cluster

**Component**
Please list all components currently enabled. (Helm, etc.)

[2021-08-26 13:48] Seblhd opened #57 "[BUG] Helm install failure - nil pointer evaluating interface {}.opensearchHome"
Hello,

I tried to install Opensearch with Helm on an AKS Cluster.

`helm install dev-opensearch Helm/opensearch -n dev`

With the default Helm template I got the following error :

`Error: template: opensearch/templates/statefulset.yaml:371:33: executing "opensearch/templates/statefulset.yaml" at <.Values.opensearchHome>: nil pointer evaluating interface {}.opensearchHome`

Here is the Helm templ

[2021-08-26 17:12] #57 closed, assigned to nobody

[2021-08-27 16:02] #54 closed, assigned to cybernagle

[2021-08-29 07:56] saravanan30erd commented on #14
@peterzhuamazon  sure, I recently added few more plugins in opendistro repo which I will test it and merge to master today. I will also start the work for opensearch after that.

[2021-08-30 21:03] peterzhuamazon commented on #14
Thanks @saratvemulapalli that sounds great, let us know if you need any help.

cc: @bbarani

[2021-08-31 16:35] #55 closed

[2021-08-31 16:42] TheAlgo commented on #53
Hi All,

I have started the migration activity, will soon be able to raise the PR comprising both the charts in the new repository.

[2021-08-31 18:03] peterzhuamazon commented on #53
@TheAlgo draft PR: https://github.com/opensearch-project/helm-charts/pull/7

[2021-09-03 02:26] NagleZhang opened #62 "[BUG][securityConfig labels using wrong expression]"
**Describe the bug**
if we are using securityConfig. we got below error.

Error: UPGRADE FAILED: YAML parse error on opensearch/templates/securityconfig.yaml: error converting YAML to JSON: yaml: invalid map key: map[interface {}]interface {}{".Chart.Name":interface {}(nil)}

**To Reproduce**
Steps to reproduce the behavior:
1. add values for `securityConfig.config.SecurityConfigSecret` & `securit

[2021-09-03 07:18] NagleZhang opened #63 "[Help wanted] securityConfig configured but not work."
I configured securityConfig with below, but it do not work. Can you help?
Thanks a lot!

[code]

[2021-09-06 05:51] saravanan30erd commented on #14
@peterzhuamazon

I have split the task into many phases, currently I have completed the single node opensearch setup.

I will work on below tasks in upcoming days,

- opensearch multi-node cluster setup
- opensearch dashbaords Installation
- Performance analyzer plugin configuration

please check it.

[2021-09-06 08:32] TheAlgo commented on #62
Closing in favour of this [PR](https://github.com/opensearch-project/helm-charts/pull/7)

[2021-09-06 08:32] #62 closed

[2021-09-06 09:26] jasodeep opened #65 "[BUG][Helm] If cluster name is set anything apart from "opesearch-cluster", getting an error OpenSearch Security not initialised."
**Describe the bug**
I tried deploying OpenSearch using the helm chart, it’s working fine when the cluster name is set to default opesearch-cluster, but when it’s set to something custom, it’s throwing error -
`OpenSearch Security not initialised`

**Values which resulting error -**
[code]

**Working Values**
[code]

[2021-09-06 16:41] TheAlgo commented on #65
@jasodeep It looks like your `clusterName` is not same. If you make it `foobar-cluster` in both the cases it should work ideally.

[2021-09-06 17:33] jasodeep commented on #65
@TheAlgo aah ! that was a typo while putting the code here.
anyway, I just retried with the following value got the same issue -

`OpenSearch Security not initialised`

[code]

do I need to update the cluster name in some other place also, apart from  **cluster.name** and **clusterName** ?

[2021-09-06 18:16] TheAlgo commented on #65
@jasodeep I was not able to replicate the issue and for me the cluster came up. Can you share the logs if possible?

No

[2021-09-06 19:20] jasodeep commented on #65
@TheAlgo here's the log from one of the pod -
[code]

[2021-09-07 13:54] alborotogarcia commented on #63
@NagleZhang you'd need to set  **http_enabled** and **transport_enabled** to true for the auth method you'd wish to use as described [here](https://opendistro.github.io/for-elasticsearch-docs/docs/security/configuration/ldap/#connection-settings)

However, the chart repo needs to be enhaced so that securityConfigSecret configmaps get mounted on the volume mounts.. Otherwise the boostrap can't find

[2021-09-07 18:27] peterzhuamazon commented on #53
Close this issue as the initial migration efforts is complete.

[2021-09-07 18:27] #53 closed

[2021-09-07 18:29] peterzhuamazon opened #66 "[Migration][Helm] Cleanup the helm folders in devops repo and add pointers to helm-charts repo"
**Is your feature request related to a problem? Please describe.**
Cleanup the helm folders in devops repo and add pointers to helm-charts repo
https://github.com/opensearch-project/helm-charts

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or

[2021-09-08 08:53] NagleZhang commented on #63
Hi @alborotogarcia , Thanks for you answer.  👍

Now I've fixed it by exec into pod, change the config.yml, then run `securityadmin.sh` to load it.
it works .

and can not wait for new helm release.

[2021-09-08 08:53] #63 closed

[2021-09-08 16:33] peterzhuamazon commented on #14
Thanks @saravanan30erd for the 1st PR, will involve folks to review this one.
Thanks.

[2021-09-10 15:51] alochym01 opened #68 "[Enhancement][Prometheus-Metrics]How to enable prometheus-metrics plugin"
How do i enable plugin
https://github.com/aparo/opensearch-prometheus-exporter

thank you

[2021-09-10 16:48] TheAlgo commented on #66
I can take this up and clean this repo. Will raise a PR soon.

[2021-09-10 17:37] peterzhuamazon commented on #68
@DandyDeveloper @TheAlgo @smlx any comments on this one? Thanks.

[2021-09-14 04:37] saravanan30erd opened #69 "Rename parameter kibanaserver to dashboardserver - Ansible"
Refer: https://github.com/opensearch-project/security/pull/1443

Rename parameter kibanaserver to dashboardserver  in Ansible scripts.

[2021-09-16 17:51] peterzhuamazon opened #71 "[ansible-playbook] Create pointer to direct users of playbook to ansible-playbook repo"
**Describe the bug**
[Migration][ansible-playbook] Create pointer to direct users of playbook to ansible-playbook repo.
https://github.com/opensearch-project/ansible-playbook

We need to create a direct link or pointer or documentation to direct user.

**To Reproduce**

**Expected behavior**
User needs to know where to find ansible playbook for OpenSearch.

**Component**
Please list all components

[2021-09-16 17:53] peterzhuamazon commented on #71
Hi @TheAlgo hope you and @saravanan30erd can have a similar approach between helm-charts and ansible-playbook to point user to the correct repo from devops repo.

Step references for this comment step2: https://github.com/opensearch-project/opensearch-devops/issues/53#issuecomment-907329481

Thanks.

[2021-09-18 10:34] alochym01 commented on #68
hi, any news update :)

[2021-09-18 10:57] DandyDeveloper commented on #68
I'll spend some time on this Monday or Tuesday JST.

I'll have more information then. Please assign to me.

[2021-09-20 06:47] DandyDeveloper commented on #68
I've made a new issue in the official charts repo: https://github.com/opensearch-project/helm-charts/issues/50

[2021-09-20 16:04] peterzhuamazon commented on #68
Close this issue as it is duplicated to opensearch-project/helm-charts#50, please use that one to track progress.
Thanks.

[2021-09-20 16:05] #68 closed

[2021-09-21 15:17] divyanshuch1 opened #73 "How to move from Opendistro helm to Opensearch helm"
Hello,
Can I use  exactly the same helm values to deploy **Opensearch** that I had used to deploy [Opendistro](https://github.com/opendistro-for-elasticsearch/opendistro-build/tree/main/helm/opendistro-es)
What differences should I keep in mind.
Thanks

[2021-09-21 16:33] peterzhuamazon commented on #71
Sample Helm Pointer:
https://github.com/opensearch-project/opensearch-devops/pull/72

[2021-09-21 16:34] peterzhuamazon commented on #73
Migrate to helm-charts repo as that is the standalone repo for charts now, we are cleaning up helm form devops repo.
@DandyDeveloper Seems like you have experience with this, probably we should write a migration guide somewhere?
Thanks.

[2021-09-23 05:29] #66 closed

[2021-09-30 17:16] peternied opened #74 "Ensure DCO Workflow Check"
Coming from https://github.com/opensearch-project/project-meta/issues/17

A Developer Certificate of Origin is required on commits in the OpenSearch-Project.

See [doc.yml](https://github.com/opensearch-project/.github/blob/main/workflow/dco.yml) for an example workflow.  Ensure CONTRIBUTING.md to has a section on the DCO per the [project template](https://github.com/opensearch-project/.github/blo

[2021-10-04 07:32] lsy1990 opened #75 "How to user document-level security to manage logging in opensearch dashboard?"
### Is your feature request related to a problem? Please describe

I want to use opensearch to store log that from kubernetes.To avoid  the count of the index is two many ,I use only one index named app-log,and this contain one field kubernetes.namespace,I want someone only query in one namespace,so create role and use bool filter,But what should i do in opensearch  to make user  only search the s

[2021-10-15 23:41] peterzhuamazon commented on #75
Not sure this is related to automation. Is this something specific to OpenSearch itself? Then it should go to OpenSearch core repo.

[2021-10-19 20:58] smortex commented on #67
@stockholmux a bit early to be 100% sure. For now, we are not sure if it is possible nor if it is a good idea (we think we need to be mindful of elastic's position and discontent with AWS).

We are currently curating our tools to integrate the modules in our process, when done I think we will be in a better position to see what is the preferred plan and adjust it accordingly.

I will add info here

[2021-11-09 11:38] #74 closed

[2021-12-02 01:36] smortex commented on #67
This is a follow-up in order to keep the community up-to-date with the current status of this task.

Integration of the elasticsearch modules to voxpupuli ecosystem is in progress.  The goal is to have working CI (unit and acceptance tests) to make in easy to integrate contributions:

* https://github.com/voxpupuli/puppet-elastic-stack is done
* https://github.com/voxpupuli/puppet-elasticsearch is

[2021-12-06 14:58] stockholmux commented on #67
@smortex How is voxpupuli thinking to manage changes between the OpenSearch fork and the existing ES stuff? Will it be a hard fork or will one be upstream?

[2021-12-06 22:37] smortex commented on #67
I an thinking about detaching completely both projects to follow how it's done on the OpenSearch side: as far as I can see, both projects will evolve in different directions.

Both modules being apache-2 licensed, we will still be able to "import" changes in one module to the other if some change make sense to both of them.  Now that the ES modules are managed by voxpupuli, I think it make sense t

[2021-12-09 08:42] spapadop commented on #67
Detaching the two projects seems like a good idea for many reasons. I'd gladly help with refactoring and bringing the OpenSearch module up to speed asap. Having the above-mentioned PRs merged, is there anything preventing you from creating the fork?

[2021-12-09 19:17] smortex commented on #67
@spapadop main changes are merged, some minor enhancements are in progress.  I use an older version of the modules at $WORK that does not allow me to test these changes in real-case scenario, but I should have some feedback next Monday from another position.  I'd prefer to be 100% sure the modules are working as expected before forking to avoid handling fixes twice (but the CI with acceptance test

[2021-12-21 22:21] madalinignisca commented on #13
May I ask why isn't MIT license OK to start an operator based on zolando's one? Why is Apache 2 mandatory?

[2021-12-22 19:35] davidkarlsen commented on #13
There's also one in https://github.com/openshift/elasticsearch-operator

[2021-12-23 08:55] rpahli commented on #13
There is also a new operator as mentioned here: https://discuss.opendistrocommunity.dev/t/kubernetes-operator-support-for-the-fork/5267/26

I think this is the operator: https://github.com/Opster/opensearch-k8s-operator

[2021-12-23 15:21] rursprung commented on #13
and it seems that there's the next one: https://discuss.opendistrocommunity.dev/t/opensearch-kubernetes-operator/8106
which can be found here: https://github.com/rancher-sandbox/opni-opensearch-operator

[2021-12-29 01:45] jkowall commented on #13
Sorry for the lack of updates. The Zalando team did talk to me about it and were working on changing the licnese. They got the approval. I setup a conversation between the AWS PMs and the folks at Zalando and the AWS team is working on how we would bring this in. There is also the early stages of the Opster operator too. The Zalando operator is more advanced IMO, but still missing a lot of what we

[2021-12-29 08:16] rursprung commented on #13
it'd be good if all projects around opensearch would have the same license - this'll lessen the headaches when dealing with the whole license discussion (you only need to have it once, PR templates look the same, etc.).
for some people it might also be ideological.
(most of us probably don't have any issue using an MIT licensed software)

the most important lacking feature is probably the fact tha

[2022-01-20 13:58] psaiz commented on #67
I'm moving my applications from elasticsearch to opensearch. Up to now, my hosts were configured by puppet. I've looked into the module in vox pupuli, and I have issues with the breaking changes. I do have multiple instances of elasticsearch running on the same node.

If I were to look into the module and modify it to keep allowing multiple instances, could I submit those changes to be considered

[2022-01-20 19:09] smortex commented on #67
@psaiz the multi-branch idea was probably a bad idea since the package did not supported this.  Elastic got to remove this to continue maintaining the puppet module, with no upgrade path…  Then they abandoned the modules, and they where adopted by Vox pupuli.  There is no intention to bring back multi-instances support for ES nor OS (unless this is a core feature of the future OS packages).

[2022-02-10 23:15] lindeberg25 opened #97 "Permission denied - /usr/share/opensearch/"
Hello...

I'm deploying an opensearch cluster on Openshift and I'm getting the permission denied error: ./opensearch-docker-entrypoint.sh: permission denied"

I've created an opensearch-sa service account and added it to master.yaml:

         serviceAccountName: "opensearch-sa"

I've set opensearch-sa to privileged.

I believe the user created in the opensearch image doesn't have permission on /u

[2022-04-25 11:26] TheAlgo opened #80 "Create a mechanism that deploys Observability Stack and Logging Stack using OpenSearch"
**Is your feature request related to a problem? Please describe.**
Everyone have their own system and tool to have these kind of stacks setup along with the core OpenSearch and OpenSearch Dashboards. It will be awesome to have a standard setup way which can easily self managed and is cloud agnostic at the same time.

**Describe the solution you'd like**
There can be multiple solutions to it:
1. Ha

[2022-04-25 11:29] TheAlgo commented on #80
@dblock @peterzhuamazon @bbarani What do you all think about it?

[2022-04-25 13:43] hemna opened #121 "[BUG] Documented docker-compose.yml doesn't work"
Using the sample docker-compose.yml file here: https://opensearch.org/docs/latest/opensearch/install/docker#sample-docker-compose-file results in a failed startup.

[code]

My docker-compose, which is copy/pasted from above documentation url

[code]

I get several errors during docker-compose up

[code]

[2022-04-25 22:28] dblock commented on #80
Are you looking for something like [plural.sh](https://docs.plural.sh/)? Haven't tried it myself.

[2022-04-26 09:59] TheAlgo commented on #80
Yup something along the lines of it but more to be suitable for setting up OpenSearch specific apps/stacks.

[2022-04-26 18:17] peterzhuamazon commented on #80
Helm repo can create a new chart.
Ansible repo can create a new playbook.

I am not sure if we want to maintain multiple copies of the same mechanism, but consider we already maintain distinct copy of chart and playbook, it makes sense to me to create one for each.

[2022-04-26 18:33] prudhvigodithi commented on #80
Logstash with combination of fluentD is used at most places as data collectors, fluentD as an agent captures logs and forwards them to  Logstash and Logstash parses the log and pushes to OpenSearch, sometimes Logstash is replaced with kafka or used both in combination for advance usage (with kafka input plugin). This combination of Logstash + fluentD + OpenSearch + OpenSearch-Dashboard would be an

[2022-05-10 04:28] jkowall commented on #15
https://odfe-workspace.slack.com/ is the URL for signing up to the Slack.

[2022-05-10 18:44] dblock commented on #15
@nknize

[2022-05-26 12:31] dzeroc opened #109 "[BUG] documented docker-compose.yml in official guides doesn't work"
Hi,

I'm experiencing that documented docker-compose.yml in official guides doesn't work.

Environment:
OS - Ubuntu 22.04 LTS
Docker Engine - Community - Version:  20.10.15
Docker Compose version v2.5.0

$ cat /proc/sys/vm/max_map_count
262144

I followed [this](https://opensearch.org/downloads.html) and then [this](https://opensearch.org/docs/latest/opensearch/install/docker/#start-a-cluster).

R

[2022-06-02 10:01] ComBin commented on #67
Hello everyone! Made it for my own needs: https://github.com/ComBin/puppet-opensearch. Yes, it's a creepy Frankenstein. But it works. So while people wait official module welcome to use this.

[2022-07-14 10:15] FabioFlorey opened #81 "[BUG] OpenSearch is not visible on the intranet (I can visit it locally, on the machine)"

[2022-07-14 10:15] FabioFlorey opened #83 "[BUG] OpenSearch is not visible on the intranet (I can visit it locally, on the machine)"
**Describe the bug**
After I run podman-compose -p ProjectName up I expect the project to create a network and for opensearch dashboards to be visibile in the intranet, however, it doesn't happen. The project runs flawlessly (I can curl both 9200 and 5601) but podman network ls doesn't see any network created by OpenSearch.

**Expected behavior**
OpenSearch Dashboards must be up and visible from t

[2022-08-01 17:47] jackson-theisen opened #82 "Plans for an Officially Recognized Terraform Provider"
### Is your feature request related to a problem? Please describe

Currently, the best Terraform provider that exists for managing OpenSearch components such as index templates, ISM policies, etc, is a community-managed repository: https://github.com/phillbaker/terraform-provider-elasticsearch. Unless there are plans to develop a completely separate Terraform provider to accomplish similar tasks,

[2022-08-02 02:20] randytan opened #89 "[BUG] Docker Opensearch 2.1.0 Exited 137 OOM after Running Full Sweep"
**Describe the bug**
During a run of Docker Opensearch version 2.1.0 via docker-compose way, the Docker Opensearch container killed herself during full sweep execution.

We have provisioned 32GB RAM (50% of the total RAM) to the Opensearch container. `Mem lock` -1 and `ulimit` 65535.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Download the Opensearch 2.1.0 from Docker Hub
2. Adju

[2022-08-02 19:23] prudhvigodithi commented on #13
We have been working closely with Opster team regarding k8s operator for OpenSearch.
https://github.com/Opster/opensearch-k8s-operator/
Helm Chart link for the operator: https://artifacthub.io/packages/helm/opensearch-operator/opensearch-operator
Please explore this and share us the feedback.
Thank you

[2022-08-02 19:25] prudhvigodithi commented on #14
OpenSearch ansible-playbook repo is up with ansible playbooks for both OS and OSD.
https://github.com/opensearch-project/ansible-playbook
Closing this issue, please re-open if required.
Thank you

[2022-08-02 19:25] #14 closed

[2022-08-02 19:34] prudhvigodithi commented on #81
Hey @FabioFlorey have you tried with and env value `-e network.bind_host= 0.0.0.0`?

[2022-08-03 12:19] elfisher commented on #82
@jackson-theisen are you interested in helping maintain this repo if it is transferred to the OpenSearch Project?

[2022-08-03 16:27] jackson-theisen commented on #82
@elfisher I'd be more than happy to help maintain the repo, but would like @phillbaker to be the primary admin as he is the original author. Based on his response to my issue in his repository, sounds like he'd be open to it as long as I did the heavy lifting around the migration. See https://github.com/phillbaker/terraform-provider-elasticsearch/issues/299#issuecomment-1203407963 for reference.

[2022-08-12 00:05] electricbrain-code opened #84 "Opensearch 2.1.1 restarts 5 times under Docker Swarm"
Getting this 5 times (i.e. container finishes then Portainer restarts it). On the 5th time it just runs?
Is this expected ?
Cheers and thanks in advance for any help (although everything is working well so far - apart from this issue).
The security is indeed configured (as reported) and uses LDAP as well as inbuilt security.

Enabling execution of install_demo_configuration.sh for OpenSearch Secur

[2022-08-12 09:30] dk-do opened #85 "[BUG] Logstash shows error: Failed to install template"
**Describe the bug**
While logstash is starting (image: opensearchproject/logstash-oss-with-opensearch-output-plugin:7.16.2) the following messages are shown:

[code]

**To Reproduce**
Steps to reproduce the behavior:
I have installed OpenSearch by using Helm in our local Kubernetes Cluster (1.24.1) and create a statefulset definition for logstash.
This is the statefulset manifest:
[code]
In addit

[2022-08-18 21:05] liamcassidy-eb opened #86 "[BUG] OpenSearch Docker Container"
**Describe the bug**
Hello, I'm running into an issue where I can't connect to the opensearch docker container following the opensearch documentation outlined here:
https://opensearch.org/docs/latest/opensearch/install/docker/

**To Reproduce**
Steps to reproduce the behavior:
[code]
In a separate terminal tab I run:
[code]
I get the following response:
[code]

**Expected behavior**
I expect the c

[2022-08-19 10:21] loxiaopohaiol opened #87 "[BUG] OpenSearch docker images can't running on the ARM machine"
I use the command “docker run -p 9200:9200 -p 9600:9600 -e "discovery.type=single-node" opensearchproject/opensearch:2.2.0” to start a test opensearch which running by docker, but it can't running. The container log is below:
![image](https://user-images.githubusercontent.com/48348273/185598547-93403661-b4c5-484b-99ac-e929cb7253b2.png)

[2022-08-19 17:20] Yafaa opened #88 "[BUG] Windows Docker Desktop"
**Describe the bug**
I am using Docker desktop with windows and tried to run opensearch via  docker-compose up
but I am getting this error from the logs
`opensearch-dashboards    | {"type":"log","@timestamp":"2022-08-19T17:14:40Z","tags":["error","opensearch","data"],"pid":1,"message":"[ConnectionError]: getaddrinfo ENOTFOUND opensearch-node1"}`

My docker desktop said to use WSL2 backend so I cre

[2022-08-23 17:12] dblock commented on #86
Moved this to opensearch-devops.

[2022-08-23 17:12] dblock commented on #87
Moving this to opensearch-devops.

[2022-08-29 15:03] dblock commented on #89
I moved this to opensearch-devops

[2022-08-29 19:58] prudhvigodithi commented on #83
Assuming `-e network.bind_host= 0.0.0.0` is right option here, closing this issue, please feel free to open if required @FabioFlorey
Thank you.

[2022-08-29 20:06] #83 closed

[2022-08-29 20:43] prudhvigodithi commented on #89
Hey @randytan I have tried with the following compose file, cluster with dashboard works fine (If possible can you try with the following file).
[code]

To verify the JVM settings can you run curl -XGET https://localhost:9200/_nodes/_all/jvm -k

Any docker logs that support the conclusion that exited with OOM error like docker stats/logs?

Can you also confirm that the docker container has more th

[2022-08-29 21:03] peterzhuamazon commented on #89
Just to add the container needs at least 4GB for dashboards to even start running.

[2022-08-29 21:59] prudhvigodithi commented on #85
Hey @dk-do can you enable the debug mode for logstash and paste the error log please?
https://opensearch.org/docs/latest/clients/logstash/index/

Also found a smilier [issue](https://github.com/opensearch-project/logstash-output-opensearch/issues/145), if not can you try with logstash 7.16.3 and with latest version of OpenSearch.

Thank you

[2022-08-29 22:11] prudhvigodithi commented on #86
Hey @liamcassidy-eb running `docker run -it -d -p 9200:9200 -p 9600:9600 -e "discovery.type=single-node" opensearchproject/opensearch:2.2.0`  and once you are into (exec) the container, the following command should work, please check the logs until the OpenSearch is full up and running.
[code]

Thank you

[2022-08-29 22:36] prudhvigodithi commented on #86
Hey @liamcassidy-eb I suspect this is something to do with colima setup.

[2022-08-29 22:41] #86 closed

[2022-08-29 22:48] prudhvigodithi commented on #87
Hey @loxiaopohaiol I have tested on ane arm64 ec2 instance `docker run -it -d -p 9200:9200 -p 9600:9600 -e "discovery.type=single-node" opensearchproject/opensearch:2.2.0`

[ARM64 tag](https://hub.docker.com/layers/opensearchproject/opensearch/2.2.0/images/sha256-397fec74387a7437871f0371dda7f4ec6cc5f2edd64f861096010c7c372dc7b4?context=explore)

[code]
[code]

[2022-08-29 22:54] prudhvigodithi commented on #88
Hey @Yafaa can you please try to query the OpenSearch node from Dashboard container, something like `curl -XGET https://<os_container_ip>:9200 -u admin:admin --insecure`, if still dint work can you the try the following
[code]

[2022-08-30 11:48] dk-do commented on #85
[ls_logs.txt](https://github.com/opensearch-project/opensearch-devops/files/9452474/ls_logs.txt)

Please find enclosed the debug log.
The first occurence of the error message is in line 634

[2022-08-30 15:50] prudhvigodithi commented on #85
Hey @dk-do I see this was fixed for latest 1.3.0 release https://github.com/opensearch-project/logstash-output-opensearch/releases/tag/v1.3.0 and docker image is yet to be released.
Thank you
@dlvenable @bbarani

[2022-09-05 09:59] tuotempo opened #90 "[Bug]: opensearch_node container does not restart on error"
### Describe the bug

I am running an opensearch docker container, that sometimes exits with code 0 even if I see errors on logs

### To reproduce

I have created the container with this java options inside Env:
`"OPENSEARCH_JAVA_OPTS=-Xms8m -Xmx8m"`

so that the `java.lang.OutOfMemoryError: Java heap space` is triggered almost immediately after the container starts.

### Expected behavior

I have

[2022-09-07 03:54] randytan commented on #89
Hi @prudhvigodithi let me check your docker compose file and putting RAM configuration to the docker container itself.

Thanks,
Randy

[2022-09-07 11:52] threesquared opened #91 "[Bug]: Intermittent startup issues with Opensearch 1.3.3 Docker container"
### Describe the bug

We are seeing intermittent but pretty regular issues when using the Opensearch docker image in CI. All we see in the logs for the docker-compose container output is:

[code]

This is even after enabling trace level logging with `rootLogger.level = trace` in the log4j2 config. The full docker-compose config is:

[code]

We are also extending the Opensearch image to remove the

[2022-09-07 15:42] dblock commented on #91
Moving to opensearch-devops, but if you think it's a PA problem open a related issue in https://github.com/opensearch-project/performance-analyzer/

[2022-09-12 17:00] kunal-parsewar opened #92 "[BUG][OpenSearch] Only ReadOnly file system is allowed while installing OpenSearch via helm chart"
**Describe the bug**
I am trying to install opensearch 1.2.3 helm chart in an AKS cluster but getting error as "Only Read-Only root file system container is allowed " and " Privilege escalation container is not allowed." Our security team is not ready to provide the exception for this helm chart deployment.

Have anyone faced this issue and how they resolved it without taking an exception from the

[2022-09-12 17:22] bbarani commented on #85
@dk-do , We recently released https://hub.docker.com/r/opensearchproject/logstash-oss-with-opensearch-output-plugin/tags on Docker. Please download and let us know if your issue is fixed in the latest version.

[2022-09-19 22:05] gaiksaya commented on #92
Moving to helm-chart repo that looks more appropriate for this issue.
Thanks!

[2022-09-20 22:09] prudhvigodithi commented on #90
Hey @tuotempo can you please share the full docker run command you used?
also can you try with this sample compose file https://opensearch.org/samples/docker-compose.yml?

[2022-09-20 22:11] prudhvigodithi commented on #88
Hey @Yafaa can you please post an update if you have tried with the suggestion[ posted above ](https://github.com/opensearch-project/opensearch-devops/issues/88#issuecomment-1230951685) ;)

[2022-09-20 22:12] prudhvigodithi commented on #87
Hey @loxiaopohaiol can you please post an update, if you had any issues from your arm server?
@bbarani @peterzhuamazon

[2022-09-20 22:13] prudhvigodithi commented on #85
Hey @dk-do just checking back to see if you have tried with the latest logstash release and you still see this issue?

[2022-09-20 22:16] prudhvigodithi commented on #84
Hey @electricbrain-code can you please share the full installation setup, how are you trying to configure the cluster via helm?
I see from the error `opensearch.yml` is already added to the security index, looks like its reloading every time with your setup, can you add some more details please?

[2022-09-21 03:01] electricbrain-code commented on #84
Hi Prudhvi,
Thanks for looking at this. Not Helm, this is Portainer from [@portainer.io](https://github.com/portainer).
There have been a number of upgrades now to both Portainer (currently running 2.15.1) and OpenSearch (currently running v2.3.0).
There were no issues at all running up OpenSearch 2.3.0. Everything is just working fine now.
Probably need to close this issue.

What follows is the P

[2022-09-21 10:44] dk-do commented on #85
Hey @prudhvigodithi @bbarani,
sorry, for the late reply - I was on a business travel.

Everythings fine now! Thx for your support!

[2022-09-21 10:44] #85 closed

[2022-09-27 13:10] lake-of-dreams opened #93 "[BUG]Adding OPENSEARCH_JAVA_OPTS environment variable does not change java process heap settings"
**Describe the bug**
OPENSEARCH_JAVA_OPTS setting not working as expected. Setting `OPENSEARCH_JAVA_OPTS=-Xms3g -Xmx3g` still keeps the jvm process on `-Xms1g -Xmx1g`

**To Reproduce**
Steps to reproduce the behavior:
1. Run an OpenSearch container
[code]

2. The container does gets the environment variable correctly
[code]

3. But the process is still at `1g`
[code]
4. The java param `opensearch.

[2022-09-27 20:17] reta commented on #93
@dblock this is expected behaviour: there is a conflict between `config/jvm.options` and `OPENSEARCH_JAVA_OPTS`, the result is what you see - duplicated settings on the command line. To deal with that, either comment out the impacted `config/jvm.options` and use `OPENSEARCH_JAVA_OPTS` (or update `config/jvm.options` with the settings you need). Hope it helps, thank you.

[2022-09-28 07:17] lake-of-dreams commented on #93
@reta commenting out in `jvm.options` does not help as now `-Xms -Xmx` settings are not set at all

[2022-09-29 12:48] reta commented on #93
@lake-of-dreams I am confused, the settings are clearly there (cleansing the last command a bit):

[code]

[2022-09-29 12:57] lake-of-dreams commented on #93
@reta they are in `-Dopensearch.cgroups.hierarchy.override` , should they not be appended to the java process instead?
`/usr/share/opensearch/jdk/bin/java -Xms3g -Xmx3g` ?

[2022-09-29 13:03] reta commented on #93
@lake-of-dreams they are just after `-Dopensearch.cgroups.hierarchy.override=/`, not part of this property value. The order of the JVM command line arguments should not matter (unless conflicting ones are specified).

[2022-09-29 13:07] lake-of-dreams commented on #93
I guess I see it now, this just being after `-Dopensearch.cgroups.hierarchy.override` caused the confusion. Maybe it should be in documentation somewhere that we need to comment setting from `config/jvm.options` if we want this to be effective? like here: https://opensearch.org/docs/latest/opensearch/install/important-settings/

[2022-09-29 13:13] reta commented on #93
@lake-of-dreams sure, we could add the note regarding the possibility of conflicting settings in `jvm.options` and OPENSEARCH_JAVA_OPTS.

[2022-09-29 13:15] reta commented on #93
https://github.com/opensearch-project/documentation-website/issues/1361

[2022-09-29 13:29] lake-of-dreams commented on #93
thanks @reta for follow ups.

[2022-09-29 13:29] #93 closed

[2022-09-29 13:56] tuotempo commented on #90
Hello,
here is the docker run command I used:
[code]
I before created a network with `docker network create opensearch_net`.

I also tried your sample with `docker compose up -d`: containers starts, but `opensearch-node1` and `opensearch-node2` exits after about one minute, while `opensearch-dashboards` keeps running. Here is the log I get:
[code]
Regards.

[2022-09-29 18:29] peterzhuamazon commented on #90
[code]

@tuotempo that means you need to increase the max map count value:

[code]

You can follow this readme on more information of the docker settings:
https://github.com/opensearch-project/opensearch-build/blob/main/scripts/README.md#run-deployment-script

[2022-09-29 18:53] dblock commented on #93
@lake-of-dreams care to contribute a PR? (aka fix https://github.com/opensearch-project/documentation-website/issues/1361)

[2022-10-04 13:07] lake-of-dreams commented on #93
@dblock yes, I will do it, thanks

[2022-10-05 15:07] tuotempo commented on #90
Hi @peterzhuamazon,
thanks for the hint, I can confirm that with it containers `opensearch-node1` and `opensearch-node2` now do not exit.

But, as stated in my first post, issue is that my `opensearch-node` container sometimes stops, and `on-failure` restart policy is not effective because exit code is 0. As stated in issue [2143](https://github.com/opensearch-project/opensearch-build/issues/2143)

[2022-10-19 15:56] tuotempo commented on #90
Hello @prudhvigodithi
are there any news about this issue?

Thanks again.

[2022-10-19 16:46] prudhvigodithi commented on #90
Hey @tuotempo if would be great if you can help you find the exact cause of termination?
Also check this for a retry implementation https://github.com/opensearch-project/opensearch-js/pull/304, might be helpful here.
Thank you
@bbarani @dblock

[2022-10-19 22:48] peterzhuamazon commented on #90
The teminateProcess is by design in the sense of if there is failure just kill both process and stop the container.
So that another process can be brought up by Kube or Docker swarm.

[2022-10-25 06:14] loxiaopohaiol commented on #87
My vm OS is 'Kylin Linux Advanced Server release V10', the docker server version is 19.03.15, and the CPU is ARM. When I run the opensearch by docker(the commond is "docker run -d -p 9200:9200 -p 9600:9600 -e "discovery.type=single-node" opensearchproject/opensearch:latest"), the log show that:
image

after that the container not running.
And then I change the docker entrypint file (opensearch-doc

[2022-10-25 10:16] loxiaopohaiol commented on #87
@prudhvigodithi According to the offical images' file(opensearch-docker-entrypoint.sh), has the CHLD explanation:
![image](https://user-images.githubusercontent.com/48348273/197747563-5e450ad0-9c21-479a-9bf6-f84a1c020bd6.png)
and how can I search which processes has terminated? I can't see any error log in my contianer.

[2022-10-31 16:41] rursprung opened #94 "Managing Index Setups & Configuration in Microservices Environment"

[2022-11-02 18:58] dblock commented on #94
I've moved it. I don't know what a solution is for better tracking progress. My own GitHub notifications are wild, [this is what I do](https://code.dblock.org/2022/08/08/managing-github-notifications-in-gmail.html), 🤷

[2022-11-03 07:27] rursprung commented on #94
i went the opposite way: i've disabled all email notifications in GitHub and exclusively use the [notifications page](https://github.com/notifications) (which is a pinned tab for me in Firefox). it also offers some filter functionality, though i usually don't use it. i just have three states:
* unread notifications: something new happened - how exciting!
* read notifications: seen it but need to r

[2022-11-09 02:54] prudhvigodithi commented on #94
Hey @rursprung from reading the description and forum post, may I know what specific part you want to keep track in OpenSearch, like the a specific document, a specific data or since you mentioned the system scales the pods (the data ingestion system) to keep track of the POD_NAME (which is randomly generated by the k8s) or deployment/statefulset name, saying if the data ingested from this set do

[2022-11-09 16:30] rursprung commented on #94
hm, maybe i should've given an example in the initial post of what the intention is. this isn't about managing the surrounding applications (e.g. we're consuming Kafka messages and Kafka keeps track of what you've already consumed, so restarting an importer service has no impact, it'll automatically pick up wherever it has to) or checkpoints for data ingestion. this is about managing indices, sett

[2022-11-09 16:58] rursprung commented on #94
i've spent some time to draft a solution proposal for this and would like to get your feedback on it! (if there's a better way to post this - e.g. as a PR with a markdown document in some RFC repo - please let me know!)

the main questions will be:
* do you think that this makes sense?
* would it be ok for this functionality to reside under the opensearch-project?
* do you have any input on anythi

[2022-11-10 17:03] rursprung commented on #94
that'd be great. the question is if there are others in the community who'd be interested in joining this? (if so: please speak up!)

i'd presume that it'd just be used as `./updater && ./app`

in my design proposal the patch file does not know any of the commands specifically. it'd be something like this:
[code]
so the updater doesn't need to know what all of that means. it'll just put together t

[2022-11-10 18:58] peterzhuamazon commented on #94
Hi @rursprung I am not sure if this is something you are looking for?
https://github.com/opensearch-project/opensearch-cli/

[2022-11-14 12:45] rursprung commented on #94
no, i don't think that this covers it:
* it does not cover any of the version checks, locking, etc. features which would be needed
* the CLI is built for human interaction, it does not provide a big advantage over just using direct HTTP calls in a fully scripted environment
* i also don't think that extending the CLI with the features mentioned here would necessarily be a good idea: the two are fo

[2022-11-16 15:16] tuotempo commented on #90
Hello,
sorry for the delay, I have created a fork to test some modification, you can see it [here](https://github.com/tuotempo/opensearch-build/commit/8313ac07feafe0f4f9090fafc726dd1edf7f5838). I have basically set different traps for different signals, and added the cleanup function that simply prints what is the signal involved: do you think this approach makes sense?

@prudhvigodithi the cause

[2022-11-17 19:45] peterzhuamazon commented on #90
https://github.com/opensearch-project/opensearch-build/pull/2913

Hi, we are in the process to remove this dependency now.

Thanks.

[2022-11-28 11:03] VartikaSharma14 opened #95 "Cannot connect to Opensearch dashboard"
I am using OpenSearch with docker compose file.
Both services (5601 & 9200) are working fine.

But when I try to  add volume in OpenSearch-dashboard service, dashboard is not reachable.
<img width="723" alt="image" src="https://user-images.githubusercontent.com/99406269/204262269-a6001e2d-339a-4d6c-8ef1-a14e33984566.png">

Can please anyone help!

[2022-11-28 17:11] peterzhuamazon commented on #94
Adding @wbeckler and the @opensearch-project/clients team into the conversation.
Please let us know your thoughts on this.

Thanks.